  
* {  
    box-sizing: border-box;  
    
        margin: 0;
        padding: 0;
        font-family: Arial;
        border: border-box;
    
}  
body {  
        font-family: Arial, sans-serif;  
        height: 100%;  
}  
  
h1 {  
    text-align:center;  
    -webkit-text-stroke: 1px black;  
    color:red;  
}  


.container {  
    max-width: 300px;
    /* display: flex;   */
    padding: 17px;  
    position: absolute;  
    left: 28px;  
    top: 50px;  
    margin: 6em; 
    margin-left: 7em; 
}  
  
b {  
    -webkit-text-stroke: 1px black;  
    color: red;  
    font-size:26px;  
}  
input[type=text],  
input[type=password] {  
    margin: 17px 0px;  
    border: 2px solid red;  
    width: 100%;  
    padding: 17px;  
}  
.button:hover {  
    transform: scale(1.2);  
    transition: transform 0.2s;  
}  
  
.button {  
    border: none;  
    cursor: pointer;  
    width: 100%;  
    background-color: #F58840;  
    color: #EAF6F6;  
    padding: 17px 17px;  
}  

.img-pic img{
    position: absolute;
    display: flex;
    top: 0.1px;
    height: 30em;
    left: 20em;
    /* width: 20px; */
    
}
.container-main h1{
    /* display: flex; */
    position: absolute;
    top: 3.5em;
    left: 7em;
    /* align-items: center; */
    /* justify-content: center; */
}

@media (max-width: 900px){
    *{
        /* background-color: rgb(207, 89, 89); */
    }
    .container{
        display: flex;
        
    }
    .img-pic{
        transform: translate(-343px , 0px);
        position: absolute;
    }
    .intro, .blogContainer, .contactform{
        margin: 8px;
    }
}


